wsdarwin_1.0.0/files/icsm2014/github/wadl/WADLresponse001.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema"><grammars><xs:schema><xs:element name="response" type="tns:usersResponseType"/><xs:complexType name="usersResponseType"><xs:sequence><xs:element name="received_events_url" type="xs:string"/><xs:element name="organizations_url" type="xs:string"/><xs:element name="avatar_url" type="xs:string"/><xs:element name="gravatar_id" type="xs:string"/><xs:element name="gists_url" type="xs:string"/><xs:element name="starred_url" type="xs:string"/><xs:element name="site_admin" type="xs:boolean"/><xs:element name="type" type="xs:string"/><xs:element name="url" type="xs:string"/><xs:element name="id" type="xs:int"/><xs:element name="html_url" type="xs:string"/><xs:element name="following_url" type="xs:string"/><xs:element name="events_url" type="xs:string"/><xs:element name="login" type="xs:string"/><xs:element name="subscriptions_url" type="xs:string"/><xs:element name="repos_url" type="xs:string"/><xs:element name="followers_url" type="xs:string"/></xs:sequence></xs:complexType></xs:schema></grammars><resources base="api.github.com/"><resource path="users"><method id="users" name="GET"><request/><response status="200"><representation element="response" mediaType="application/json"/></response></method></resource></resources></application>