wsdarwin_1.0.0/files/icsm2014/github/wadl/WADLresponse004.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema"><grammars><xs:schema><xs:complexType name="oprescu3ResponseType"><xs:sequence><xs:element name="id" type="xs:long"/><xs:element name="first_name" type="xs:string"/><xs:element name="username" type="xs:string"/><xs:element name="name" type="xs:string"/><xs:element name="locale" type="xs:string"/><xs:element name="link" type="xs:string"/><xs:element name="last_name" type="xs:string"/><xs:element name="gender" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="response" type="tns:oprescu3ResponseType"/></xs:schema></grammars><resources base="graph.facebook.com/"><resource path="oprescu3"><method id="oprescu3" name="GET"><request/><response status="200"><representation element="oprescu3ResponseType" mediaType="application/json"/></response></method></resource></resources></application>