wsdarwin_website/funcsPHP/wadlFile.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <grammars>
        <xs:schema>
            <xs:complexType name="jackResponseType">
                <xs:sequence>
                    <xs:element name="id" type="xs:int">
                    </xs:element>
                    <xs:element name="first_name" type="xs:string">
                    </xs:element>
                    <xs:element name="username" type="xs:string">
                    </xs:element>
                    <xs:element name="name" type="xs:string">
                    </xs:element>
                    <xs:element name="locale" type="xs:string">
                    </xs:element>
                    <xs:element name="last_name" type="xs:string">
                    </xs:element>
                    <xs:element name="gender" type="xs:string">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="response" type="tns:jackResponseType">
            </xs:element>
        </xs:schema>
    </grammars>
    <resources base="graph.facebook.com/">
        <resource path="jack">
            <method id="jack" name="GET">
                <request>
                </request>
                <response status="200">
                    <representation element="response" mediaType="application/json">
                    </representation>
                </response>
            </method>
        </resource>
    </resources>
</application>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<grammars>
    <xs:schema>
        <xs:complexType name="oprescu3ResponseType">
            <xs:sequence>
                <xs:element name="id" type="xs:long">
                </xs:element>
                <xs:element name="first_name" type="xs:string">
                </xs:element>
                <xs:element name="username" type="xs:string">
                </xs:element>
                <xs:element name="name" type="xs:string">
                </xs:element>
                <xs:element name="locale" type="xs:string">
                </xs:element>
                <xs:element name="link" type="xs:string">
                </xs:element>
                <xs:element name="last_name" type="xs:string">
                </xs:element>
                <xs:element name="gender" type="xs:string">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:element name="response" type="tns:oprescu3ResponseType">
        </xs:element>
    </xs:schema>
</grammars>
<resources base="graph.facebook.com/">
    <resource path="oprescu3">
        <method id="oprescu3" name="GET">
            <request>
            </request>
            <response status="200">
                <representation element="response" mediaType="application/json">
                </representation>
            </response>
        </method>
    </resource>
</resources>
</application>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<grammars>
<xs:schema>
    <xs:complexType name="jackResponseType">
        <xs:sequence>
            <xs:element name="id" type="xs:int">
            </xs:element>
            <xs:element name="first_name" type="xs:string">
            </xs:element>
            <xs:element name="username" type="xs:string">
            </xs:element>
            <xs:element name="name" type="xs:string">
            </xs:element>
            <xs:element name="locale" type="xs:string">
            </xs:element>
            <xs:element name="last_name" type="xs:string">
            </xs:element>
            <xs:element name="gender" type="xs:string">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="response" type="tns:jackResponseType">
    </xs:element>
</xs:schema>
</grammars>
<resources base="graph.facebook.com/">
<resource path="jack">
    <method id="jack" name="GET">
        <request>
        </request>
        <response status="200">
            <representation element="response" mediaType="application/json">
            </representation>
        </response>
    </method>
</resource>
</resources>
</application>
