wsdarwin_1.0.0/files/icsm2014/interoperability/wadl/WADLresponse3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" tns:schemaLocation="http://wadl.dev.java.net/2009/02 files/icsm2013/interoperability/wadl/response.xsd" xmlns:tns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"><grammars><include href="files/icsm2013/interoperability/wadl/response.xsd"/></grammars><resources base="http://maps.googleapis.com/maps/"><resource path="api"><method id="geocode" name="GET"><request><param name="address" style="query" type="tns:string"/><param name="sensor" style="query" type="tns:boolean"/></request><response status="200"><representation element="GeocodeResponseType" mediaType="application/xml"/></response></method></resource></resources></application>