wsdarwin_1.0.0/files/icsm2014/interoperability/movies/theMoviedb/wadl/WADLresponse1.wadl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<application xmlns:tns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" tns:schemaLocation="http://wadl.dev.java.net/2009/02 files/icsm2013/interoperability/movies/theMoviedb/xsd//merged_movie.xsd" xmlns="http://wadl.dev.java.net/2009/02">
<grammars>
<include href="files/icsm2013/interoperability/movies/theMoviedb/xsd//merged_movie.xsd"/>
</grammars>
<resources base="api.themoviedb.org/">
<resource path="/3/search">
<method id="movie" name="GET">
<request>
<param name="api_key" style="query" type="tns:string"/>
<param name="query" style="query" type="tns:string"/>
</request>
<response status="200">
<representation element="movieResponseType" mediaType="application/json"/>
</response>
</method>
</resource>
</resources>
</application>
